NODE_ENV=development
PORT=8080
API_PREFIX=/api

CORS_ORIGINS=http://localhost:3000,http://localhost:3001
JWT_SECRET=693e8d32665d8f1485b3481eb1a6193092f1cb462efb8650876eb745e9dac296
JWT_EXPIRATION=2d


#database
DB_NAME=switchcafe_controller
DB_USERNAME=iqbal
DB_PASS=60483
DB_HOST=localhost
DB_PORT=5432